
@font-face {
    font-family: 'FontsFree-Net-PanAmTextCaps';
    src: url("/Users/zoeervolino/Documents/zoe/cartagena-site/FontsFree-Net-PanAmTextCaps copy.ttf") format('truetype');
    font-weight: thin;
    font-style: normal;
}


@font-face {
    font-family: 'WarioLand4CHMC';
    src: url("/Users/zoeervolino/Documents/zoe/Warioland4chmc-VApe.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  font-size: 50px;
  font-family: WarioLand4CHMC;
  text-align:center;
  color:MidnightBlue;
}

h1{
  font-family: FontsFree-Net-PanAmTextCaps;
  font-size: 35pt;
  font-weight: thin;
  color:Teal;
}

h2{
  font-family: Galacticagrid-8Mr7J;
  font-size: 50pt;
  font-weight: thin;
  color:Purple;
}

h3,h4,h5,h6{
  font-size: 50px;
  font-family: WarioLand4CHMC;
  text-align:center;
  color:Violet;
}

a1{
  font-size: 34px;
  font-family: WarioLand4CHMC;
  text-align:center;
  color:Navy;
}

