
@font-face {
    font-family: 'AerologicaRegular-K7day';
    src: url("/Users/zoeervolino/Documents/zoe/AerologicaRegular-K7day.ttf") format('truetype');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: '3Dumb';
    src: url("/Users/zoeervolino/Documents/zoe/3Dumb.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WarioLand4CHMC';
    src: url("/Users/zoeervolino/Documents/zoe/Warioland4chmc-VApe.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  font-size: 50px;
  font-family: WarioLand4CHMC;
  text-align:center;
  color:MidnightBlue;
}

h1{
  font-family: AerologicaRegular-K7day;
  font-size: 60pt;
  font-weight: thin;
  color:Teal;
}

h2{
  font-family: AerologicaRegular-K7day;
  font-size: 50pt;
  font-weight: thin;
  color:Purple;
}

h3,h4,h5,h6{
  font-size: 50px;
  font-family: WarioLand4CHMC;
  text-align:center;
  color:Violet;
}

h7{
  font-family: 3Dumb;
  font-size: 38pt;
  color:MidnightBlue;
}

 `r emo::ji("dizzy")`